/* Hide scrollbar for Chrome, Safari and Opera */
footer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
footer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overlap-group {
  position: relative;
}

.overlap-layer.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 20% 10%;
}
